---
  title: We zijn een team van ontwikkelaars gepassioneerd door nieuwe webtechnologieën.
  subtitle: We zijn goed in het omvormen van een ingewikkelde vraag tot een eenvoudige oplossing. Al 10 jaar werken we samen met ondernemers, scholen, universiteiten en vzw's. We slagen in elk project door duidelijk te communiceren en ons te houden aan afspraken.
  call_to_action: true
---

.row.text-center
  .col-sm-4
    %img.img-circle.img-responsive.text-center{:src => "/images/zoom_in.png"}/
    %h2 Samen naar een oplossing
    %p Door goed te luisteren leren we het probleem echt kennen. Door te spreken in jouw taal (en niet het technisch jargon) begrijpen we elkaar en komen we tot een eenvoudige oplossing, ook al is het probleem complex.
  .col-sm-4
    %img.img-circle.img-responsive{:src => "/images/gear.png"}/
    %h2 Weboplossingen bouwen
    %p Met 10 jaar ervaring in het uitbouwen van geavanceerde weboplossingen met een waaier aan technische vereisten staan we voor elke uitdaging klaar. We begeleiden je naar het eindproduct in een proces van ontwikkelen, terugkoppelen en bijschaven.
  .col-sm-4
    %img.img-circle.img-responsive{:src => "/images/info.png"}/
    %h2 Naar de doelgroep begeleiden
    %p Bij het bedenken van een oplossing en ontwikkelen van een product heeft de eindgebruiker een centrale plaats. Onze weboplossingen gaan altijd gepaard met advies en tips voor effectief gebruik.

%hr/

.row
  .col-lg-8.col-sm-8
    %h2 Onze rol
    %p Onze rol bestaat erin jouw vraag goed te leren kennen, de juiste technologie te kiezen en je te begeleiden tijdens en en na de ontwikkeling. 
    %p We luisteren daarom goed en stellen de juiste vragen. Vanuit jouw oogpunt en met onze expertise formuleren we een voorstel. In dit voorstel vermijden we het technische jargon en schema's. Onze voorstellen zijn leesbaar en bevatten oplossingen. Daarbij krijg je een zicht op de prijs en de berekening ervan. Zo kun je zelf bijsturen wat voor jou belangrijk is in verhouding met de prijs. 
    %p Tijdens de ontwikkeling ben je permanent en actief betrokken. Je kunt de evolutie volgen en bijsturen. Deze betrokkenheid komt ook van onze kant. We denken graag inhoudelijk mee en geven advies om de ingebruikname te laten resulteren tot een succes.
    %p
      %a.btn.btn-default.btn-large{:href => "http://goo.gl/WYxSf1"} Download onze referenties &raquo;
  .col-lg-4.col-sm-4
    .well
      %h2 Contacteer ons
      %address
        %strong by2.be bvba
        %br/
        Rubenslaan 25
        %br/
        8310 Brugge
        %br/
      %address
        %abbr{:title => "Phone"} T:
        050 969 962
        %br/
        %abbr{:title => "Email"} E:
        %a{:href => "mailto:#"} team@by2.be
      %em.text-muted
        Heb je een idee? Of is je vraag heel concreet? Laat het ons weten. We zijn één en al oor!
